body {
  background-image: url('https://d1jca6dx52tygx.cloudfront.net/barrels.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 100%;
}


.appBackground {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  /* padding-top: 75px; */
  overflow-y: auto;
}
